In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import max_error, mean_absolute_error, mean_squared_error
from sklearn.linear_model import LinearRegression

In [3]:
data = pd.read_csv('expenses.csv')
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [4]:
data.describe(include='all')

,age,sex,bmi,children,smoker,region,charges
count,1338.000000,1338,1338.000000,1338.000000,1338,1338,1338.000000
unique,NaN,2,NaN,NaN,2,4,NaN
top,NaN,male,NaN,NaN,no,southeast,NaN
freq,NaN,676,NaN,NaN,1064,364,NaN
mean,39.207025,NaN,30.663397,1.094918,NaN,NaN,13270.422265
std,14.049960,NaN,6.098187,1.205493,NaN,NaN,12110.011237
min,18.000000,NaN,15.960000,0.000000,NaN,NaN,1121.873900
25%,27.000000,NaN,26.296250,0.000000,NaN,NaN,4740.287150
50%,39.000000,NaN,30.400000,1.000000,NaN,NaN,9382.033000
75%,51.000000,NaN,34.693750,2.000000,NaN,NaN,16639.912515
max,64.000000,NaN,53.130000,5.000000,NaN,NaN,63770.428010

## Data preprocessing

In [5]:
from sklearn.preprocessing import OneHotEncoder

In [6]:
column_to_ohe = ['sex','smoker','region']
ohe = OneHotEncoder(handle_unknown='ignore')

In [7]:
num_data = data.drop(['sex','smoker','region','charges'],axis=1)

In [8]:
ohe_column = ohe.fit_transform(data[column_to_ohe])

In [9]:
X_transformed = pd.DataFrame.sparse.from_spmatrix(ohe_column).astype('int32')
X_transformed

      0  1  2  3  4  5  6  7
0     1  0  0  1  0  0  0  1
1     0  1  1  0  0  0  1  0
2     0  1  1  0  0  0  1  0
3     0  1  1  0  0  1  0  0
4     0  1  1  0  0  1  0  0
...  .. .. .. .. .. .. .. ..
1333  0  1  1  0  0  1  0  0
1334  1  0  1  0  1  0  0  0
1335  1  0  1  0  0  0  1  0
1336  1  0  1  0  0  0  0  1
1337  1  0  0  1  0  1  0  0

[1338 rows x 8 columns]

In [10]:
X = pd.concat([num_data,X_transformed],axis=1)
y = data['charges']

In [11]:
X.columns = X.columns.astype('str')

## Model

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.1,random_state=0)

In [13]:
lr = LinearRegression()

In [14]:
lr.fit(X_train,y_train)

LinearRegression()

In [15]:
lr.score(X_test,y_test)

0.8216781468713605

In [16]:
pred = lr.predict(X_test)

In [17]:
print(f'Maksymalny bÅ‚Ä…d wynosi: {max_error(y_test,pred)}')

Maksymalny bÅ‚Ä…d wynosi: 20922.555059845974

In [18]:
print(f'Åšredni bÅ‚Ä…d bezwzglÄ™dny(MAE) wynosi: {mean_absolute_error(y_test,pred)}')

Åšredni bÅ‚Ä…d bezwzglÄ™dny(MAE) wynosi: 4252.759443161083

In [19]:
print(f'BÅ‚Ä…d Å›redniokwadratowy(MSE) wynosi: {mean_squared_error(y_test,pred)}')
print(f'Pierwiastek bÅ‚Ä™du Å›redniokwadratowego wynosi: {mean_squared_error(y_test,pred,squared=False)}')

BÅ‚Ä…d Å›redniokwadratowy(MSE) wynosi: 34577221.797758825
Pierwiastek bÅ‚Ä™du Å›redniokwadratowego wynosi: 5880.239943893346